
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body {
    font-size: 28px;
     }

div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    border: 1px solid #555;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
li {
    float: left;
    text-align: center;
    border-bottom: 1px solid #555;
    }

li:last-child {
    border-bottom: none;
    }

li a.active {
    background-color: #04AA6D;
    color: white;
    }

li a:hover {
    background-color: #111;
    }
  
.active {
    background-color: #4CAF50;
    }

img [title~="cityimage"]
        
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fa-brands {
    padding: 26px;
    font-size: 100px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.fa-github-square {
    background-color: blue;
    color: white;

}

